# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/app/key.jks

# =========================
# iOS / macOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

macos/Pods/
macos/Flutter/ephemeral/

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
.DS_Store

# =========================
# Firebase (optional)
# =========================
google-services.json
GoogleService-Info.plist
